
<nav class="mt-2  py-3 navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
            <div class="container-fluid">
              <a class="navbar-brand" id="parte1">Poryect</a>
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarsExample04">
                
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Ventas</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown04">
                          <li><a class="dropdown-item" href="/nuevaVenta">Nueva Venta</a></li>
                          <li><a class="dropdown-item" href="/Factura">Facturas</a></li>
                          <li><a class="dropdown-item" href="/Pacientes">Pacientes</a></li>
                          <li><a class="dropdown-item" href="/AddTests">Agregar Examenes</a></li>
                        </ul>
                      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Contabilidad</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown04">
                          
                          <li><a class="dropdown-item" href="/Caja">Caja</a></li>
                          <li><a class="dropdown-item" href="/Presupuestos">Presupuestos</a></li>
                          <li><a class="dropdown-item" href="/CEstadisticas">Estadísticas</a></li>
                        </ul>
                      </li>


                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Recursos Humanos</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown04">
                      <li><a class="dropdown-item" href="/Empleados">Empleados</a></li>
                      <li><a class="dropdown-item" href="/Nomina">Nomina</a></li>
                      <li><a class="dropdown-item" href="/Reportes">Reportes</a></li>
                      <li><a class="dropdown-item" href="/RHEstadisticas">Estadísticas</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Inventario</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown04">
                      <li><a class="dropdown-item" href="/Inventario">Inventario</a></li>
                      <li><a class="dropdown-item" href="/Compras">Compras</a></li>
                      <li><a class="dropdown-item" href="/Productos">Productos</a></li>
                    </ul>
                  </li>
                 
               {{else}}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Login/Registro</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown04">
                    <li><a class="dropdown-item" href="/Login">Login</a></li>
                    <li><a class="dropdown-item" href="/Registro">Registro</a></li>
                    </ul>
                  </li>
                </ul>
                {{/if}}
              </div>
              
            </div>
        </nav>