<div class="container ">
                <h3 class="my-4">Agregar Producto</h3>
                <form action="/addProducto" method="post">
                <div class="bd-example  mt-5 m-5 pe-5">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">Codigo</span>
                      <input type="text" class="form-control" placeholder="Codio del Producto" name="id" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Nombre</span>
                      <input type="text" class="form-control" placeholder="Nombre del Producto" name="nombre" aria-label="Nombre del Producto" aria-describedby="basic-addon2">
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Descripcion</span>
                      <input type="text" class="form-control" placeholder="Informacion del Producto" name="descripcion" aria-label="Informacion del Producto" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Precio</span>
                      <input type="text" class="form-control" placeholder="Valor o Precio" name="precio" aria-label="Valor o Precio" aria-describedby="basic-addon2">
                    </div>

                    <div class="input-group mt-3">
                        <button class="btn btn-success" onclick="print">Enviar</button>    
                    </div>
                      
                    </div>
                    </form>
            </div>
            