<style type="text/css" media="print">
@media print { #parte1 { display: none; } }
</style>
<div class="container">
  <h1 style="padding: 25px;">Factura</h1>
  
<button type="button" id="parte1" onclick="imprimir();" class="btn btn-success btn-block">Imprimir</button>

</div>