<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand mx-4" href="#">Lab<span class="active">Software</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-5">
                  <li class="nav-item mx-3">
                    <a class="nav-link active" aria-current="page" href="/Index"><img src="/Resources/home.svg" alt=""></a>
                  </li>
                  <li class="nav-item mx-3">
                    <a class="nav-link" href="/Pacientes"><img src="/Resources/user.svg" alt=""></a>
                  </li>
                  <li class="nav-item mx-3">
                    <a class="nav-link" href="/Reportes"><img src="/Resources/file-text.svg" alt=""></a>
                  </li>
                  <li class="nav-item mx-3">
                    <a class="nav-link" href="/Administracion"><img src="/Resources/dollar-sign.svg" alt=""></a>
                  </li>

                  <li class="nav-item mx-3">
                    <a class="nav-link" href="/Interfaces"><img src="/Resources/monitor.svg" alt=""></a>
                  </li>
                  
                  <li class="nav-item mx-3">
                    <a class="nav-link" href="/Configuraciones"><img src="/Resources/settings.svg" alt=""></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        
        
            <div class="container d-flex  justify-content-center align-items-center">
            
            
            <div class="welcomeBox ">
                <h1 class="text-center mb-3">Welcome ADMIN</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <div class="buttonsBox d-flex justify-content-center">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-outline-primary mx-2" type="button">Empieza</button>
                        <button class="btn btn-outline-primary mx-2" type="button">Configura</button>
                      </div>
                </div>
            </div>
        </div>
     