<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mx-4" href="Indexadmin">My System<span class="active">Technology</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-5">
        <li class="nav-item mx-3">
          <a class="nav-link" aria-current="page" href="/Indexadmin"><img src="/Resources/home.svg"></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="/Configuracionesadmin"><img src="/Resources/settings.svg"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid ">
  <h1 class="regPac">Pagos Nominas</h1>

<div class="col-auto row justify-content-center align-items-center">
<table class="table">
      <thead>
        <tr>
          <th scope="col"> # </th>
          <th scope="col"> Nombres </th>
          <th scope="col"> Especialidad </th>
          <th scope="col"> Fecha Ingreso </th>
          <th scope="col"> Usuario </th>
          
          <th scope="col"> Sueldo </th>
          <th scope="col"> Administrador </th>
        </tr>
      </thead>
      <tbody class="table-striped">
        <tr>
          <th scope="row">1</th>
          <td>Kim Namjoon</td>
          <td>Cardiobascular</td>
          <td>20-02-2020</td>
          <td>Kim</td>
          
          <td>250$</td>
          <td>No</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Andres Graterol</td>
          <td>Administrador</td>
          <td>20-02-2020</td>
          <td>Aklo</td>
          
          <td>300$</td>
          <td>Si</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Namjoon</td>
          <td>Cirujano</td>
          <td>20-02-2020</td>
          <td>Nam</td>
          
          <td>280$</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

</div>
</div>