<div class="container mt-5">
                <div class="display-5 text-center text-success">200.00</div>
                <p class="text-center">Monto en caja</p>
                <table class="table table-striped mt-3">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tipo</th>
                      <th>Usuario</th>
                      <th scope="col">Monto</th>
                      <th scope="col">Total</th>
                      
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-success bg-opacity-50">
                      <th scope="row">1</th>
                      <td>Venta</td>
                      <td>ADMIN</td>
                      <td>100.00</td>
                      <td>200.00</td>
                      
                    </tr>
                    <tr class="bg-danger bg-opacity-50">
                      <th scope="row">2</th>
                      <td>Gasto</td>
                      <td>Mary</td>
                      <td>-20.10</td>
                      <td>100.00</td>
                      
                    </tr>
                    <tr class="bg-danger bg-opacity-50">
                      <th scope="row">3</th>
                      <td>Gasto</td>
                      <td>ADMIN</td>
                      <td>-50.22</td>
                      <td>120.10</td>
                      
                    </tr>
                    <tr class="bg-success bg-opacity-50">
                        <th scope="row">4</th>
                        <td>Venta</td>
                        <td>ADMIN</td>
                        <td>100.00</td>
                        <td>170.32</td>
                        
                      </tr>
                    </tbody>
                  </table>
            </div>