<div class="container mt-5">

                <div class=" mt-2 row fulfill">
                    <div class="col-4 bg-secondary p-3">
                        <div class="cliente">
                            <h3 class="text-center mb-3">Datos del Proveedor</h3>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Nombres</span>
                                <input type="text" class="form-control" placeholder="Nombres" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Direccion</span>
                                <input type="text" class="form-control" placeholder="Direccion" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                              <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Telefono</span>
                                <input type="text" class="form-control" placeholder="Telefono" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                              <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Cedula  </span>
                                <input type="text" class="form-control" placeholder="Cedula" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                              <button class="btn btn-block btn-dark">Enviar</button>
                        </div>
                        <div class="articulo">
                            <h3 class="text-center mb-3">Articulos</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                  <th >#</th>
                                  <th >Nombre</th>
                                  <th >Cant.</th>
                                  <th>Precio </th>
                                  <th>Agg</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td class="input">            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                  </th>
                                  <td>Mark</td>
                                  <td class="input">            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                  </td>
                                  <td>@mdo</td>
                                  <td><button class="btn btn-sm btn-success">+</button></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <div class="usuario">
                          <h3 class="text-center">Usuario</h3>
                          <h5>Username</h5>
                        </div>
                    </div>
                    <div class="col-8 ">
                        <div class="data">
                            <h3 class="text-center">
                                Articulos Agregados
                            </h3>
                            <table class="table table-striped mt-3">
                                <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Cantidad</th>
                                  <th scope="col">Precio Und.</th>
                                  <th scope="col">Precio Total</th>
                                  <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Mark</td>
                                  <td>2</td>
                                  <td>100.00</td>
                                  <td>200.00</td>
                                  <td><button class="btn btn-sm btn-danger">X</button></td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>Jacob</td>
                                  <td>4</td>
                                  <td>20.10</td>
                                  <td>80.40</td>
                                  <td><button class="btn btn-sm btn-danger">X</button></td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>Larry the Bird</td>
                                  <td>1</td>
                                  <td>520.50</td>
                                  <td>520.50</td>
                                  <td><button class="btn btn-sm btn-danger">X</button></td>
                                </tr>
                                </tbody>
                              </table>

                              <button class="btn btn-block btn-success">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>