<div class="container mt-5">

                <div class=" mt-2 row fulfill">
                    <div class="col-4 bg-secondary p-3">
                        <div class="cliente">
                            <h3 class="text-center mb-3">Datos del Proveedor</h3>
                            <div class="nuevoProveedor">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Nombres</span>
                                <input type="text" id="nombres" class="form-control" name="nombre" placeholder="Nombres" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Direccion</span>
                                <input type="text" id="" class="form-control" name="direccion" placeholder="Direccion" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                              <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Telefono</span>
                                <input type="text" class="form-control" name="telefono" placeholder="Telefono" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                              <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Rif</span>
                                <input type="text" class="form-control" name="rif" placeholder="Cedula" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                              </div>


                              
                        </div>
                        <div class="articulo">
                            <h3 class="text-center mb-3">Articulos</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                  <th >#</th>
                                  <th >Nombre</th>
                                  <th >Cant.</th>
                                  <th>Precio </th>
                                  <th>Agg</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td class="input"><input type="email" class="form-control" id="codigo" aria-describedby="emailHelp">
                                  </th>
                                  <td id="nombre">Mark</td>
                                  <td class="input"><input type="email" class="form-control" id="cantidad" aria-describedby="emailHelp">
                                  </td>
                                  <td id="precio"></td>
                                  <td><button class="btn btn-sm btn-success add" id="add">+</button></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <div class="usuario">
                          <h3 class="text-center">Usuario</h3>
                          <h5>Username</h5>
                        </div>
                    </div>
                    <div class="col-8 ">
                        <div class="data">
                            <h3 class="text-center">
                                Articulos Agregados
                            </h3>
                            <table class="table table-striped mt-3">
                                <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Cantidad</th>
                                  <th scope="col">Precio Und.</th>
                                  <th scope="col">Precio Total</th>
                                  <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                </tbody>
                              </table>

                              <button class="btn btn-block btn-success" id="procesar">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/comprar" method="post" class=" hide nuevaFactura"></form>
            <script src="/js/compras.js"></script>