<div class="container mt-5">
                
                <table class="table table-striped mt-3">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Motivo</th>
                      <th scope="col">Monto</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Usuario</th>
                      <th>Detalles</th>
                      <th scope="col"> <a href="/addGastos" ><button class="btn btn-success">Agregar Gasto</button></a></th>
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>2</td>
                      <td>100.00</td>
                      <td>200.00</td>
                      <td></td>
                      <td><button class="btn btn-sm btn-success">editar</button><button class="btn btn-sm btn-danger mx-2">X</button></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>4</td>
                      <td>20.10</td>
                      <td>80.40</td>
                      <td></td>
                      <td><button class="btn btn-sm btn-success">editar</button><button class="btn btn-sm btn-danger mx-2">X</button></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry the Bird</td>
                      <td>1</td>
                      <td>520.50</td>
                      <td>520.50</td>
                      <td></td>
                      <td><button class="btn btn-sm btn-success">editar</button><button class="btn btn-sm btn-danger mx-2">X</button></td>
                    </tr>
                    </tbody>
                  </table>
            </div>