<div class="container mt-5">
                
                <table class="table table-striped mt-3">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col"> <a href="addEmpleado.html" ><button class="btn btn-success">Agregar Empleado</button></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                  </table>
            </div>