<div class="container mt-5">
                
                <table class="table table-striped mt-3">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Salario Base</th>
                      <th scope="col">Deducciones</th>
                      <th scope="col">Bonificaciones</th>
                      <th>Departamento</th>
                      <th>Cargo</th>
                      <th>Total</th>
                      
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                  </table>
            </div>