
<div class="container ">
                <h3 class="my-4">Actualizar Caja</h3>
                <div class="bd-example  mt-5 m-5 pe-5">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">Motivo de Gasto</span>
                      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <span class="input-group-text" id="basic-addon2">Numero de Compra</span>
                    </div>
                    <label for="basic-url" class="form-label">Detalles</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon3">Fecha</span>
                      <input type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Monto Bs.</span>
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text">.00</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Empleado</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    <div class="input-group">
                      <span class="input-group-text">With textarea</span>
                      <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <div class="input-group mt-3">
                        <button class="btn btn-success">Enviar</button>    
                    </div>
                      
                    </div>
            </div>