<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/registro">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="fullname"
                                placeholder="Indique su Nombre Completo" autofocus>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Usuario">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Contraseña">
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-success btn-block">Registro</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>